@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;500&display=swap');

html,body{
    font-family: "Hanken Grotesk", sans-serif;
}

#content-section{
    display: flex;
    justify-content: center;
    margin: 120px auto 0px;
}

.container{
    border-radius: 6%;
    height: 22rem;
    display: flexbox;
    flex-wrap: wrap;
    width: 40%;
    max-width: 220px;
    padding: 1.5rem 2.2rem;
    box-shadow: 0 0 25px  hsl(221, 100%, 96%);
}

.result-heading{
    color: hsl(241, 100%, 89%);
    margin-bottom: 10%;
}

#result{
    background-image: linear-gradient(180deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color: white;
    text-align: center;
}

.circle{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#result-number{
    font-size: 60px;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 9px;
    left: 3px;
}

#result-exclamation{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
}

#result-percentile{
    font-size: 13px;
    color: hsl(241, 100%, 89%);
    width: 77%;
    margin: 0 auto;
}

#summary{
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    z-index: -1;
    position: relative;
    right: 3%;
    width: 34%;
    padding-left: 4.5rem;
    padding-right: 3.2rem;
}

#summary-title{
    font-size: 18px;
    font-weight: 700;
    margin-top: 6%;
    color: hsl(224, 30%, 27%);
}

.score{
    margin-left: 50px;
}

.score-tab{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0% 4%;
    max-height: 49px;
    margin-bottom: 3%
}

.center{
    display: flex;
    align-items: center;
}

img{
    position: relative;
    margin-right: 6px;
}

.gray{
    color:gray
}

.btn{
    border-color: inherit;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    margin: auto;
    color: white;
    background-color: hsl(224, 30%, 27%);
    padding: 5% 20%;
    font-size: 15px;
    margin-top: 14px;
    margin-left: 17px;
}

.btn:hover{
    background-color: aqua;
    cursor: grab;
}
.reaction{
    background-color: hsla(0, 100%, 67%, 0.06); 
    
}

.reaction > p:first-child{
    color: hsl(0, 100%, 67%);
}

.memory{
    background-color: hsla(39, 100%, 56%, 0.06);
}

.memory > p:first-child{
    color: hsl(39, 100%, 56%);
}


.verbal{
    background-color: hsla(166, 100%, 37%, 0.06);
}

.verbal > p:first-child{
    color: hsl(166, 100%, 37%);
}

.visual{
    background-color: hsla(234, 85%, 45%, 0.06);
}

.visual > p:first-child{
    color: hsl(234, 85%, 45%);
}
